#include <dt-bindings/phy/phy.h>

&apb {
	pcie_phy: pcie-phy@fe03a000 {
		compatible = "amlogic, amlogic-new-usb2-v2";
		status = "okay";
		#address-cells = <2>;
		#size-cells = <2>;
		phy-version = <2>;
		reg = <0x0 0xfe03a000 0x0 0x80
		                0x0 0xFE002000 0x0 0x100
		                0x0 0xfe03e000 0x0 0x2000>;
		dwc2_a_reg = <0xfdd00000>;
		#phy-cells = <0>;
	};

	pcie: pcie@fc000000 {
		compatible = "amlogic,g12a-pcie", "snps,dw-pcie";
		reg = <0x0 0xf5000000 0x0 0x400000>,
		      <0x0 0xfe02c000 0x0 0x2000>,
		      <0x0 0xf5400000 0x0 0x200000>;
		reg-names = "elbi", "cfg", "config";
		interrupts = <GIC_SPI 141 IRQ_TYPE_LEVEL_HIGH>;
		#interrupt-cells = <1>;
		interrupt-map-mask = <0 0 0 0>;
		interrupt-map = <0 0 0 0 &gic GIC_SPI 143 IRQ_TYPE_LEVEL_HIGH>;
		bus-range = <0x0 0xff>;
		#address-cells = <3>;
		#size-cells = <2>;
		device_type = "pci";
		ranges = <0x81000000 0 0 0x0 0xf5600000 0 0x00100000>,
			 <0x82000000 0 0xf5700000 0x0 0xf5700000 0 0x1900000>;

		clocks = <&clkc CLKID_PCIE_PHY
			  &clkc CLKID_PCIE_COMB
			  &clkc CLKID_PCIE_PLL>;
		clock-names = "general",
			      "pclk",
			      "port";
		resets = <&reset 0xc>,
			 <&reset 0xe>;
		reset-names = "port",
			      "apb";
		reset-gpios = <&gpio GPIOH_3 GPIO_ACTIVE_LOW>;
		num-lanes = <1>;
		phys = <&pcie_phy PHY_TYPE_PCIE>;
		phy-names = "pcie";
		status = "okay";
	};
};
